<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Регистрация</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
          <div fxLayout="column">

            <div>
              <mat-form-field appearance="fill">
                <mat-label>Имя пользователя</mat-label>
                <input type="text" matInput [formControl]="username" required>
                <mat-error *ngIf="username.invalid">{{getUsernameError()}}</mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Почта</mat-label>
                <input type="email" matInput required [formControl]="email">
                <mat-error *ngIf="email.invalid">{{getEmailError()}}</mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Пароль</mat-label>
                <input type="password" matInput required [formControl]="password">
                <mat-error *ngIf="password.invalid">{{getPasswordError()}}</mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Подтвердите пароль</mat-label>
                <input type="password" matInput required [formControl]="confpassword">
                <mat-error *ngIf="confpassword.invalid">{{getConfpasswordError()}}</mat-error>
              </mat-form-field>
            </div>
            <div>
              <button [disabled]="username.invalid || email.invalid || password.invalid || confpassword.invalid"
                      fxFlex="100" mat-raised-button color="primary" (click)="clickRegister()">Зарегистрироваться
              </button>
            </div>
            <div class="mat-success" *ngIf="successRegister">
              {{successRegister}}
            </div>
            <div class="mat-error" *ngIf="errorRegister">
              {{errorRegister}}
            </div>

            <div>
              <mat-progress-bar class="mt-3" *ngIf="showProgress" mode='indeterminate'></mat-progress-bar>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
