<h1 mat-dialog-title class="text-center">Изменить задачу <b>{{data.taskName}}</b></h1>
<div mat-dialog-content>
  <div fxLayout="column">
    <mat-form-field>
      <mat-label>Название задачи</mat-label>
      <input matInput [formControl]="name" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Описание задачи</mat-label>
      <input matInput [formControl]="desc">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Выберете задачу</mat-label>
      <mat-select [formControl]="api" required (valueChange)="ChangeSelectedApi()">
        <mat-option *ngFor="let api of apis" value="{{api.id}}">{{api.apiName}}</mat-option>
      </mat-select>
    </mat-form-field>

    <p>
      <mat-checkbox [formControl]="disableSelect" *ngIf="api.value && api.value === '1'" color="primary">
        <div>
          Выбрать страну
        </div>
      </mat-checkbox>
    </p>

    <!--  Input for get params for api  -->
    <mat-form-field *ngIf="(disableSelect.value && api.value !== '2') || api.value === '3'">
      <mat-label>
        <div *ngIf="api.value === '1'">
          Введите название страны
        </div>
        <div *ngIf="api.value === '3'">
          Введите название валютной пары
        </div>
      </mat-label>
      <input type="text" aria-label="Number" matInput [formControl]="apiParam" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <div *ngIf="api.value === '1'">
          <mat-option *ngFor=" let option of filteredCountries | async" [value]="option.alpha2">
            {{option.name}}
          </mat-option>
        </div>
        <div *ngIf="api.value === '3'">
          <mat-option *ngFor=" let option of filteredForexPairs | async" [value]="option.symbol">
            {{option.symbol}}
          </mat-option>
        </div>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Укажите переодичность выполнения задачи</mat-label>
      <input matInput [formControl]="period" (click)="OpenCronDialog()" required>
    </mat-form-field>


    <div class="row">
      <div class="col">
        <button mat-raised-button class="btn-block" color="success" (click)="UpdTask()"
                [disabled]="showProgress ||
        name.invalid || api.invalid || period.invalid">
          Сохранить изменения
        </button>

      </div>
      <div class="col">
        <button mat-raised-button class="btn-block" color="warn" (click)="CloseUpd()">О
          Отмена
        </button>
      </div>
    </div>

    <mat-error *ngIf="isError" class="mt-2 text-center">
      Ошибка при обновлении задачи
    </mat-error>

    <div class="mt-3" *ngIf="showProgress">
      <mat-progress-bar mode='indeterminate'></mat-progress-bar>
    </div>

  </div>
</div>



